body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  color: black;
  text-align: left;
  background-color:rgb(248, 245, 245);
 }

.container {  
  margin: 20px 20px;
  display: grid;
  grid-template: repeat (4, 1fr) / repeat (3, 1fr);
  grid-template-areas:
   "a c c"
   "b c c"
   "b c c"
   "f f f"
  }


#name {
  position: relative;
  top: -30px;
  left: 20px;
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: none;
}

li  {
  text-align: left;
  font-family: roboto;
  color: black;
  font-size: 15px;
  line-height: 1.5;
  background-color: white
  }
p {
  text-align: left;
  font-family: roboto;
  color: black;
  font-size: 15px;
  line-height: 1.5;
  background-color: white
  }
#part-a {
  grid-area: a;
  margin-left: 20px;

}

#part-b {
  background-color: white;
  grid-area: b;
  margin-left: 20px;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
  padding: 20px;
  
}

#part-c {
  background-color: white;
  grid-area: c;
  margin-left: 20px;
  box-shadow: 5px 10px 18px #888888;
  padding: 20px;
 
}
footer {
  grid-area: f;
  text-align: center;
  margin-top: 10px;
}
.margin-right{
  margin-right: 10px;
  color: rgb(119, 132, 245);
  font-size: 15px;
  background-color: white;
}
.margin-right-h1 {
  margin-right: 10px;
  color: rgb(119, 132, 245);
  font-size: 25px;
  background-color: white;
}
.html {
  border-radius: 16px;
  height: 24px;
  width: 80%;
  background-color: rgb(119, 132, 245);
  font-size: 16px;
  text-align: center;
  padding: 5px;
}
.css {
  border-radius: 16px;
  height: 24px;
  width: 60%;
  background-color: rgb(119, 132, 245);
  font-size: 16px;
  text-align: center;
  padding: 5px;
}
.git {
  border-radius: 16px;
  height: 24px;
  width: 55%;
  background-color: rgb(119, 132, 245);
  font-size: 16px;
  text-align: center;
  padding: 5px;
}
.media {
  border-radius: 16px;
  height: 24px;
  width: 55%;
  background-color: rgb(119, 132, 245);
  font-size: 16px;
  text-align: center;
  padding: 5px;
}
.spanish {
    border-radius: 16px;
    height: 24px;
    width: 80%;
    background-color: rgb(119, 132, 245);
    font-size: 16px;
    text-align: center; 
    padding: 5px;
    
}
.english {
  border-radius: 16px;
  height: 24px;
  width: 70%;
  background-color: rgb(119, 132, 245);
  font-size: 16px;
  text-align: center;
  padding: 5px;
}
h1{
  font-size: 25px;
  font-weight: lighter;
  background-color: white;
}
h2 {
  font-size: 15px;
  font-weight: lighter;
  background-color: white;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .container {
    width: 100%;
    grid-gap: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, auto);  
    grid-template-areas:
   "a"
   "b"
   "c"
   "f"
    
  }
  
  img {
    width: 100%;
    
  }
  #name {
    position: relative;
    top: -50px;
    left: 30px;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }

}







